* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$purp: #251a29;
$grey: rgba(85, 85, 85, 0.767);
$yell: rgb(238, 231, 170);

@mixin jContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "noto sans";
  background: rgb(214, 211, 211);
  // background: url(/img/back3.jpg);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-blend-mode: lighten;
}

.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}

.invertBlack {
  background: black !important;
  color: white !important;
  padding: 5rem;
  height: 100% !important;
}

// Main Section

#codeIcon {
  width: 120px;
  margin-bottom: 8%;
}

.container-main {
  height: 90vh;
  display: grid;
  padding: 5rem;
  width: 1900px;
  grid-template-columns: repeat(3, 1fr);
}

//main 1

.main-1 {
  box-shadow: -8px 8px 8px 5px black;
  background: white;
  @include jContent();
  width: 500px;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 4rem;
  .top {
    height: 100%;
  }
  #logo1 {
    transition: all 0.5s;
    border: none;
  }
}

#enableSound {
  padding: 1rem;
  background: $grey;
  border: 1px solid $purp;
  color: $purp;

  margin-top: 20%;
}
#enableSound:hover {
  background: $purp;
  border: 1px solid $grey;
  color: white;
}
#disableSound {
  padding: 1rem;
  background: red;
  border: 1px solid $purp;
  color: $purp;
}
#disableSound:hover {
  background: $purp;
  border: 1px solid $grey;
  color: white;
}

#max {
  color: $purp;
  width: 100%;
}

.links-section {
  margin-bottom: 20%;
  transition: all 1s;
  img {
    border-radius: 50%;
  }
  height: 700px;
  width: 100%;
  @include jContent();
  flex-direction: column;
  h1 {
    font-size: 2rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  text-align: center;

  .links-section-item {
    padding: 0.5rem;
    width: 50%;

    img {
      width: 65px;

      transition: all 0.3s;
    }
    img:hover {
      background: $purp;
      padding: 0.4rem;
      transform: rotate(360deg);
    }
  }
}

#logo1 {
  width: 100% !important;
  transition: all 1.2s;
  margin: auto;
  padding: 1rem;
  margin-bottom: 10%;
}

#logo1:hover {
  margin: 0 !important;
  padding: 0 !important;
}

#max-pic {
  width: 100%;
  height: 470px;
}

//main 2

.main-2 {
  width: 720px;
}

.intro {
  @include jContent();
  h4 {
    margin-top: 5rem;
    margin-left: 0.9rem;
    font-size: 3.3rem;
  }
}

#main-nav {
  @include jContent();
  font-family: "playfair display" !important;
  height: 100%;
  text-align: center;
  padding: 12rem;
  ul li {
    list-style: none;
    padding: 3rem 0;
    display: flex;

    i {
      color: rgba($color: $purp, $alpha: 1);
      display: none;
    }

    a {
      text-decoration: none;
      font-weight: lighter;
      text-transform: uppercase;
      font-size: 4.2rem;
      transition: all 5.5s cubic-bezier(0.875, 0.885, 0.32, 1.275);
      color: black;
      padding: 1rem;
      border-bottom: 2px solid $purp;
    }

    a:hover {
      border-bottom: 2px solid black;
      color: $yell;
      transform: scale(1.2);
      margin-left: 8%;
    }
  }
}

//main 3

.main-3 {
  width: 520px;
  background: white;
  box-shadow: 8px 8px 8px -5px black;
  padding: 2rem;
  height: 95%;
  border: 1px solid black;
  margin: 1rem;

  #headline {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 8% !important;
    margin-top: 5% !important;
  }
  #bio {
    font-size: 1.1rem;
    margin-top: 4%;
    margin-bottom: 18% !important;
    padding: 0.4rem;
    font-weight: lighter;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  img {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 28% !important;
    width: 100%;
  }

  @include jContent();
  flex-direction: column;

  #cv-and-cert {
    padding: 0.2rem;
    @include jContent();
    text-align: center;

    h6 {
      font-size: 0.8rem;
    }
    img {
      width: 150px;
      margin-bottom: 2%;
    }

    .cert {
      transition: all 0.8s;
    }

    .cert:hover {
      transform: rotate(720deg) scale(5);
    }
  }
}

//projects

#projects {
  color: white;

  margin-top: 25%;

  height: 1800px;
  background: url(/img/darkback.png) no-repeat center center/cover;
  #snakpic {
    height: 237px;
  }
  h2 {
    font-size: 4rem;
    font-weight: lighter;
  }
  h4 {
    font-size: 4rem;
    border-bottom: 2px solid $yell;
    padding-top: 2%;
    font-family: "playfair display" !important;
    padding-bottom: 2% !important;
    margin: 1rem auto;
    width: 300px;
    text-transform: uppercase;
    margin-bottom: 3%;
  }

  .projects-container {
    margin-top: 2%;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-items: center;
    justify-content: center;

    .project-item {
      border: 1px solid $purp;
      padding: 0.2rem;

      font-family: "noto sans jp";
      .fulls {
        margin-top: 5%;
        background-color: $purp;
        padding: 1rem;
        border-radius: 50%;
        color: white;
        border: 1px solid $yell;
      }
      img {
        border: 1px solid $purp;
        width: 100%;
        height: 50%;
      }
      h5 {
        font-size: 2.5rem;
      }
      p {
        color: $purp;
        margin-top: 5%;
        font-size: 1.5rem;
        font-weight: bolder;
      }
      a {
        width: 100%;
        background: $purp;
        color: $yell;
        height: 100%;
        border-radius: 5px;
        border: none;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin: 0.9rem;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        margin-top: 5%;
        i {
          margin-left: 1rem;

          transition: all 1s;
        }
        font-size: 1.9rem;
      }
      a:hover {
        background: black;
        color: white;
        cursor: pointer;
        i {
          margin-left: 1.8rem;
        }
      }

      width: 490px;
      @include jContent();
      flex-direction: column;
      color: black;
      height: 600px;
      background: white;
      border-radius: 5px;
    }
  }
}

//sevices

#services {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 1500px;
  flex-direction: column;
  img {
    width: 250px;
    border: 1px solid black;
  }
  h2 {
    font-family: "playfair display" !important;
    font-size: 4rem;
    border-bottom: 2px solid $yell;
    border-bottom-right-radius: 40%;
    padding: 1rem;
    text-transform: uppercase;
    margin: 2rem;
  }
  .services-container {
    background-image: url(/img/serv.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .service-item {
      overflow: hidden;
      transition: all 0.5s;
      padding: 1rem;
      @include jContent();

      opacity: 1;
      i {
        padding: 2rem;
        color: $yell;
        border: 1px solid $yell;
        background: $purp;
        border-radius: 50%;
      }
      p {
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 3;
      }

      ul {
        text-align: left;
        margin: 1rem;

        li {
          list-style: none;
          text-align: center;
          padding: 1rem 0;
          font-size: 1rem;
          color: $yell;
        }
      }

      @include jContent();
      text-align: center;
      height: 1000px;
      flex-direction: column;
      h6 {
        font-size: 2rem;
        color: white;
        padding: 1rem;
      }
    }

    .service-item:hover {
      background: $grey;
      border: 1px solid $purp;
    }
  }
}

//contact

#contact {
  height: 1895px;
  background-image: url(/img/darkback.png);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

  h4 {
    font-size: 4rem;
    border-bottom: 2px solid $yell;
    height: 130px;
    font-family: "playfair display" !important;
    margin: 1rem auto;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 3%;
  }
  .contact-container {
    width: 70%;
    form {
      div {
        @include jContent();
        flex-direction: column;
      }
      label {
        color: $yell;
        padding: 1rem;
        font-size: 1.2rem;
        align-self: flex-start;
        margin-left: 14%;
      }
      input {
        padding: 1rem 0;
        width: 70%;

        font-size: 2rem;
        border: none;
        margin: 1rem 0;
      }
      textarea {
        font-size: 13px;
      }
      input::-webkit-input-placeholder {
        font-size: 2rem;
      }
      textarea::-webkit-input-placeholder {
        font-size: 2rem;
      }
      textarea:focus {
        outline: none;
        border: 2px solid $yell;
        box-shadow: 0 0 5px $yell;
      }
      input:focus {
        outline: none;
        border: 2px solid $yell;
        box-shadow: 0 0 5px $yell;
      }
      .btn-submit {
        width: 70%;
        height: 100px;
        background: $yell;
        font-size: 2rem;
        margin: 1rem 0;
        border: none;
        transition: all 0.5s;
      }
      .btn-submit:hover {
        width: 70%;
        height: 100px;
        color: $yell;
        cursor: pointer;
        background: $purp;
        font-size: 2rem;
        margin: 1rem 0;
        border: 1px solid $yell;
      }
    }
  }

  .other-contacts {
    @include jContent();
    flex-direction: row;
    margin-top: 5%;
    text-align: center;
    h6 {
      font-size: 2rem;
    }
    div {
      @include jContent();
      flex-direction: row;
      padding: 2rem;
      i {
        color: $yell;
        padding: 2rem;
      }
      p {
        letter-spacing: 1px;
      }
    }
    img {
      width: 100px;
      border-radius: 50%;
    }
  }
}

//queries

//tablet

//regular screens

@media (max-width: 1890px) {
  .projects-container {
    margin-left: 5% !important;
  }
}

//large Screens
@media (min-width: 2100px) {
  .container-main {
    margin-left: 13% !important;
  }
  #projects {
    margin: 0 !important;
    margin-top: 20% !important;
    margin-left: 10% !important;
    width: 80%;
  }

  .project-item {
    margin-left: 15% !important;
  }
}

//phone
@media (max-width: 650px) {
  body {
    background: none !important;
    width: 100vw;
  }
  //main
  .container-main {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
  }

  #main-nav {
    padding: 0 !important;
    margin: 0 !important;
    justify-content: start;

    ul li {
      padding: 30px 0 !important;
      margin: 0 !important;
    }
    i {
      margin-left: 20px;
    }
  }

  .intro {
    h4 {
      font-size: 21px;
    }
  }

  .main-3 {
    margin: 0 !important;
  }

  //projects
  #projects {
    margin-top: 420%;
    height: 4500px;
  }
  .projects-container {
    margin: 0 !important;
    width: 100%;
    padding: 0 !important;
    display: flex !important;
    flex-direction: column;
  }

  .project-row {
    margin: 0 !important;

    display: flex !important;
    flex-direction: column;
  }

  .project-item {
    margin: 0 !important;

    padding: 0 !important;
  }
  //services
  #services {
    margin-top: 190%;
    .services-container {
      display: flex;
      flex-direction: column;
    }
  }
  //contact
  #contact {
    height: 2200px;
    margin-top: 200%;
  }

  .contact-container {
    form {
      width: 100%;
    }
  }

  .text-fields {
    input {
      padding: 2rem !important;
      width: 125% !important;
    }
    label {
      text-align: center;
    }
    textarea {
      width: 370px;
    }
  }

  .btn-submit {
    width: 100% !important;
  }

  .other-contacts {
    display: flex;
    flex-direction: column !important;
    div {
      display: flex;
      flex-direction: column !important;
    }
  }
}
