* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$purp: #251a29;
$grey: rgba(85, 85, 85, 0.767);
$purp2: rgb(120, 22, 149);
$yell: rgb(228, 228, 50);

@mixin jContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "noto sans";
  background-image: url("/img/back4.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  z-index: 6;
}

.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}

.invertBlack {
  background: black !important;
  color: white !important;
  padding: 5rem;
  height: 100% !important;
}

// Main Section

#enableSound {
  padding: 1rem;
  background: $grey;
  border: 1px solid $purp;
  color: $purp;
  width: 80%;
  font-size: 2rem;
  margin: 10% auto;
}
#enableSound:hover {
  background: $purp;
  border: 2px solid $yell;
  color: white;
}
#disableSound {
  padding: 1rem;
  background: red;
  border: 1px solid $purp;
  color: $purp;
}
#disableSound:hover {
  background: $purp;
  border: 1px solid $grey;
  color: white;
}

//header-a

#header {
  padding: 2rem;
  margin: 5rem auto;
  width: 90%;
  background-color: rgb(247, 248, 239);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.lead {
  border-top: 1px solid black;
  margin: 2rem auto;
  padding: 0.2rem;
  border-bottom: 1px solid black;
  line-height: 2;
  font-size: 12px;
}

.header-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#links-section {
  display: grid;
  width: 53%;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  img {
    padding: 1rem;
    transition: all 0.3s;
    border-radius: 50%;
    margin: 0 30px;
  }

  img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  #fb {
    width: 120px;
  }
}

#certs {
  display: flex;
  img {
    width: 120px;
    height: 180px;
    margin: 1rem;
    transition: all 1s;
  }
  img:hover {
    transform: rotate(720deg);
  }
  div {
    transition: all 1s;
  }
  div:hover {
    transform: scale(6);
  }
}

#logo {
  margin: 2rem auto;

  height: 250px;
  border: 1px solid black;
}

//header b

.header-b {
  #maxpic {
    width: 400px;
    padding: 1rem;
    border: 1px solid black;
  }
}

#about {
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: bolder;
    font-family: "noto sans";
    letter-spacing: 1px;
    span {
      font-weight: lighter;
      font-family: "noto sans JP";
    }
  }
}

#main-nav {
  @include jContent();
  font-family: "playfair display" !important;
  height: 100%;
  margin-left: 20% !important;
  text-align: center;
  ul {
    display: flex;
    flex-direction: column;
  }
  ul li {
    list-style: none;
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    i {
      color: rgb(37, 23, 51);
      display: none;
    }

    a {
      text-decoration: none;
      font-weight: lighter;
      text-transform: uppercase;
      font-size: 4.2rem;
      transition: all 5.5s cubic-bezier(0.875, 0.885, 0.32, 1.275);
      color: black;
      padding: 1rem;
      border-bottom: 2px solid $purp;
    }

    a:hover {
      border-bottom: 2px solid black;
      color: $purp2;
      transform: scale(1.2);
      margin-left: 8%;
    }
  }
}

//projects

#projects {
  color: white;
  margin-top: 15%;
  padding: 6rem;
  width: 100%;
  background: url(/img/darkback.png) no-repeat center center/cover;
  #snakpic {
    height: 237px;
  }
  h2 {
    font-size: 4rem;
    font-weight: lighter;
  }
  h4 {
    font-size: 4rem;
    border-bottom: 2px solid $purp2;
    padding-top: 2%;
    font-family: "playfair display" !important;
    padding-bottom: 2% !important;
    margin: 1rem auto;
    width: 300px;
    text-transform: uppercase;
    margin-bottom: 3%;
  }

  .projects-container {
    margin-top: 2%;

    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    align-items: center;
    justify-content: center;
    grid-gap: 0.5rem;

    .project-item {
      border: 1px solid $purp;
      padding: 0.2rem;

      font-family: "noto sans jp";
      .fulls {
        margin-top: 5%;
        background-color: $purp;
        padding: 1rem;
        border-radius: 50%;
        color: white;
        border: 1px solid $purp2;
      }
      img {
        border: 1px solid $purp;
        width: 100%;
        height: 50%;
      }
      h5 {
        font-size: 2.5rem;
      }
      p {
        color: $purp;
        margin-top: 5%;
        font-size: 1.5rem;
        font-weight: bolder;
      }
      a {
        width: 100%;
        height: 80px !important;
        background: $purp;
        color: rgb(250, 240, 104);
        height: 100%;
        border-radius: 5px;
        border: none;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin: 0.9rem;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        margin-top: 5%;
        i {
          margin-left: 1rem;

          transition: all 1s;
        }
        font-size: 1.9rem;
      }
      a:hover {
        background: black;
        color: white;
        cursor: pointer;
        i {
          margin-left: 1.8rem;
        }
      }

      @include jContent();
      flex-direction: column;
      color: black;
      background: white;
      border-radius: 5px;
    }
  }
}

//sevices

#services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-content: center;
  height: 1500px;
  flex-direction: column;
  img {
    width: 250px;
    border: 1px solid black;
  }
  h4 {
    font-family: "playfair display" !important;
    font-size: 4rem;
    border-bottom: 2px solid $purp2;
    border-bottom-right-radius: 40%;
    padding: 1rem;
    text-transform: uppercase;
  }
  .services-container {
    margin: 0 auto;
    background-image: url(/img/serv.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .service-item {
      overflow: hidden;
      transition: all 0.5s;
      padding: 1rem;
      @include jContent();

      opacity: 1;
      i {
        padding: 2rem;
        color: rgb(197, 197, 194);
        border: 1px solid $purp2;
        background: $purp;
        border-radius: 50%;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
      }
      i:hover {
        transform: scale(0.8);
        color: rgb(250, 240, 104);
        border-color: rgb(250, 240, 104);
      }
      p {
        font-size: 2rem;
        font-weight: bolder;
        color: rgb(250, 240, 104);
      }

      ul {
        text-align: left;
        margin: 1rem;

        li {
          list-style: none;
          text-align: center;

          padding: 1rem 0;
          font-size: 1.2rem;
          color: rgb(250, 240, 104);
        }
      }

      @include jContent();
      text-align: center;
      height: 1000px;
      flex-direction: column;
      h6 {
        font-size: 2.2rem;
        color: white;
        padding: 2rem 0;
      }
    }

    .service-item:hover {
      background: $grey;
      border: 1px solid $purp;
    }
  }
}

//contact

#contact {
  height: 2195px;
  background-image: url(/img/darkback.png);
  background-position: center;
  background-size: cover;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 4rem;
    border-bottom: 2px solid $purp2;
    height: 130px;
    font-family: "playfair display" !important;
    margin: 1rem auto;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 3%;
  }
  .contact-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    form {
      @include jContent();
      flex-direction: column;
      .form-group {
        width: 100%;
        @include jContent();
        flex-direction: column;
      }
      label {
        color: rgb(250, 240, 104);
        padding: 1rem;
        font-size: 1.2rem;
        align-self: flex-start;
      }
      input {
        padding: 1rem 0;
        width: 100%;
        font-size: 2rem;
        border: none;
        margin: 1rem 0;
      }
      textarea {
        font-size: 13px;
      }
      input::-webkit-input-placeholder {
        font-size: 2rem;
      }
      textarea::-webkit-input-placeholder {
        font-size: 2rem;
      }
      textarea:focus {
        outline: none;
        border: 2px solid rgb(250, 240, 104);
        box-shadow: 0 0 5px rgb(250, 240, 104);
      }
      input:focus {
        outline: none;
        box-shadow: 0 0 5px rgb(250, 240, 104);
      }
      .btn-submit {
        width: 70%;
        height: 100px;
        background: rgb(250, 240, 104);
        font-size: 2rem;
        margin: 1rem 0;
        border: none;
        transition: all 0.5s;
      }
      .btn-submit:hover {
        width: 70%;
        height: 100px;
        color: rgb(250, 240, 104);
        cursor: pointer;
        background: $purp;
        font-size: 2rem;
        margin: 1rem 0;
        border: 1px solid rgb(250, 240, 104);
      }
    }
  }

  .other-contacts {
    @include jContent();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-top: 5%;
    text-align: center;
    h6 {
      font-size: 2rem;
    }
    div {
      @include jContent();
      padding: 2rem;
      i {
        color: rgb(250, 240, 104);
        padding: 2rem;
      }
      p {
        letter-spacing: 1px;
      }
    }
    img {
      width: 100px;
      border-radius: 50%;
    }
  }
}

//QUERIES
@media (max-width: 1097px) {
  #contact {
    margin-top: 70%;
  }
}

@media (max-width: 477px) {
  #contact {
    margin-top: 520% !important;
    height: 160%;
  }
}

@media (max-width: 600px) {
  #main-nav ul li a {
    font-size: 33px;
  }

  #logo {
    margin: 0 auto;
  }

  #header {
    width: 100%;
  }

  #contact {
    margin-top: 320%;
    height: 160%;
  }
  .form-group input {
    width: 100% !important;
  }

  .form-group {
    @include jContent();

    flex-direction: column;
  }

  .other-contacts {
    display: flex !important;

    flex-direction: column;
  }

  .other-contacts div {
    @include jContent();

    flex-direction: column;
  }
  .other-contacts img {
    margin: 0 auto;
  }
  #enableSound {
    font-size: 20px;
    width: 100%;
  }

  #projects {
    width: 100%;

    h4 {
      font-size: 40px !important;
      width: 100%;
    }
  }

  #services {
    width: 100%;
  }

  #about {
    width: 100%;
    h1 {
      display: flex;
      margin: 0;
      width: 200px !important;
      text-align: center;
      font-size: 20px;
    }
  }

  .projects-container {
    width: 100%;
  }
  .services-container {
    width: 100% !important;
  }
  #projects h4 {
    font-size: 53px;
    text-align: center;
    margin-bottom: 30%;
  }

  #services h4 {
    font-size: 53px;
    margin-top: 20%;
    margin-bottom: 30%;
  }
}
